.inputdiv {
    background: rgba(200, 200, 200, 0.5);
    border-radius: 2px;
    padding: 10px;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    min-width: 300px;
}